#alert-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2000;
}

.alert {
  padding: 1rem;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  will-change: transform;
  box-shadow: var(--box-shadow-lg);
  /* default */
  color: var(--black);
  background-color: var(--gray1);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

.alert-info {
  color: var(--cold-fixed-white);
  background: linear-gradient(to bottom, var(--cyan3) 0%, var(--cyan) 100%);
}

.alert-warning {
  color: var(--warm-fixed-white);
  background: linear-gradient(to bottom, var(--yellow3) 0%, var(--yellow) 100%);
}

.alert-danger,
.alert-error {
  color: var(--warm-fixed-white);
  background: linear-gradient(to bottom, var(--red3) 0%, var(--red) 100%);
}

.alert-success {
  color: var(--cold-fixed-white);
  background: linear-gradient(to bottom, var(--teal3) 0%, var(--teal) 100%);
}

.alert-msg {
  align-self: flex-start;
  font-size: 1rem;
  min-width: 0;
}

.alert-close-msg {
  /* color: var(--white); */
  font-size: 0.75rem;
  font-style: oblique;
  position: absolute;
  bottom: 0.25rem;
  right: 0.5rem;
}
