.btn,
.btn-empty {
  border: none;
  border-radius: var(--radius);
  outline: none;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: var(--weight-bold);
  white-space: nowrap;
  background: linear-gradient(to bottom, var(--cold) 0%, var(--cold-dark) 100%);
  color: var(--black);
}
.btn-text {
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  font-weight: var(--weight-normal);
}
.btn {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn.brand {
  background: linear-gradient(
    to bottom,
    var(--brand-light) 0%,
    var(--brand) 100%
  );
  color: var(--brand-pale);
}
.btn.danger {
  background: linear-gradient(to bottom, var(--red-light) 0%, var(--red) 100%);
  color: var(--red-pale);
}
.btn.success {
  background: linear-gradient(to bottom, var(--teal-light) 0%, var(--teal) 100%);
  color: var(--teal-pale);
}
.btn.info {
  background: linear-gradient(to bottom, var(--cyan-light) 0%, var(--cyan) 100%);
  color: var(--cyan-pale);
}
.btn.warning {
  background: linear-gradient(to bottom, var(--yellow-light) 0%, var(--yellow) 100%);
  color: var(--yellow-pale);
}
.btn[disabled] {
  cursor: not-allowed !important;
  background: none;
  color: var(--gray3);
}
.btn:hover:not([disabled]),
.btn:focus:not([disabled]),
.btn:active:not([disabled]) {
  border: 0;
  outline: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.btn.brand:hover:not([disabled]),
.btn.danger:hover:not([disabled]),
.btn.success:hover:not([disabled]),
.btn.info:hover:not([disabled]),
.btn.warning:hover:not([disabled]) {
  color: var(--white);
}
.btn-empty {
  background: transparent !important;
  box-shadow: none !important;
  color: var(--dark);
}
.btn-empty.brand,
.btn-text.brand {
  color: var(--brand);
}
.btn-empty.danger,
.btn-text.danger {
  color: var(--red);
}
.btn-empty.white,
.btn-text.white {
  color: var(--light);
}
.btn-empty.success,
.btn-text.success {
  color: var(--teal);
}
.btn-empty.info,
.btn-text.info {
  color: var(--cyan);
}
.btn-empty.warning,
.btn-text.warning {
  color: var(--yellow);
}
.btn-empty[disabled],
.btn-text[disabled] {
  cursor: not-allowed !important;
  box-shadow: none;
}
.btn-empty:not([disabled]):hover,
.btn-text:not([disabled]):hover {
  border: 0;
  outline: 0;
  text-decoration: underline;
}
.btn-empty:focus:not([disabled]),
.btn-text:focus:not([disabled]),
.btn-empty:active:not([disabled]),
.btn-text:active:not([disabled]) {
  outline: 1px dotted;
}

.menu-dots {
  padding: 0.3rem;
  color: var(--gray5);
}
.menu-dots::after {
  content: '\22EE';
}

.menu-dots:hover,
.menu-dots:focus,
.menu-dots:focus {
  color: var(--black);
}
/* -------- */
/* DROPDOWN */
/* -------- */
.dropdown {
  position: relative;
  max-width: max-content;
}
.dropdown-button::after {
  content: '\22EE';
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  width: max-content;
  background-color: var(--white);
  z-index: 1010;
  box-shadow: var(--box-shadow-lg);
}
.dropdown-menu.bottom-right {
  /* text-align: right; */
  right: 0;
}
.dropdown-menu.bottom-left {
  /* text-align: left; */
  left: 0;
}
.dropdown-menu.top-left {
  /* text-align: left; */
  left: 0;
  bottom: calc(var(--size) * 1.5 + 0.6rem);
}
.dropdown-menu.top-right {
  /* text-align: right; */
  right: 0;
  bottom: calc(var(--size) * 1.5 + 0.6rem);
}
