.btn,
.btn-empty {
  position: relative;
  border: none;
  border-radius: var(--radius);
  outline: none;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
  /* text-transform: uppercase; */
  font-weight: var(--weight-600);
  white-space: nowrap;
  /* background: linear-gradient(to bottom, var(--gray2) 0%, var(--gray) 100%); */
  background-color: var(--gray1);
  color: var(--black);
  z-index: 1;
  overflow: hidden;
}
.btn-text {
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  font-weight: var(--weight-400);
  text-align: left;
}
.btn {
  box-shadow: var(--shadow-sm);
  font-weight: var(--weight-600);
}
.btn::before {
  content: '';
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.25);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.25rem;
  transform: translate3d(-300%, 0, 0) rotate(35deg);
}
.btn:hover::before {
  transition: transform 500ms ease-in-out;
  transform: translate3d(600%, 0, 0) rotate(35deg);
}
.btn.brand {
  background-color: var(--brand);
  /* background: linear-gradient(to bottom, var(--brand) 0%, var(--brand3) 100%); */
  color: var(--cold-fixed-white);
}
/* .btn.brand:active:not([disabled]) {
  background: linear-gradient(to bottom, var(--brand3) 0%, var(--brand) 100%);
} */
.btn.danger,
.btn.error {
  background-color: var(--red);
  /* background: linear-gradient(to bottom, var(--red) 0%, var(--red3) 100%); */
  color: var(--warm-fixed-white);
}
/* .btn.danger:active:not([disabled]),
.btn.error:active:not([disabled]) {
  background: linear-gradient(to bottom, var(--red3) 0%, var(--red) 100%);
} */
.btn.success {
  background-color: var(--teal);
  /* background: linear-gradient(to bottom, var(--teal) 0%, var(--teal3) 100%); */
  color: var(--cold-fixed-white);
  /* color: var(--teal-black); */
}
/* .btn.success:active:not([disabled]) {
  background: linear-gradient(to bottom, var(--teal3) 0%, var(--teal) 100%);
} */
.btn.info {
  background-color: var(--cyan);
  /* background: linear-gradient(to bottom, var(--cyan) 0%, var(--cyan3) 100%); */
  color: var(--cold-fixed-white);
}
/* .btn.info:active:not([disabled]) {
  background: linear-gradient(to bottom, var(--cyan3) 0%, var(--cyan) 100%);
} */
.btn.warning {
  background-color: var(--yellow);
  /* background: linear-gradient(to bottom, var(--yellow) 0%, var(--yellow3) 100%); */
  color: var(--warm-fixed-white);
}
/* .btn.warning:active:not([disabled]) {
  background: linear-gradient(to bottom, var(--yellow3) 0%, var(--yellow) 100%);
} */
.btn[disabled] {
  cursor: not-allowed !important;
  background: none;
  color: var(--gray);
}
.btn:hover:not([disabled]) {
  border: 0;
  outline: 0;
  /* box-shadow: var(--shadow-lg); */
}
.btn:focus:not([disabled]) {
  outline: 1px dotted var(--gray2);
}
.btn:active:not([disabled]) {
  border: 0;
  outline: 0;
  box-shadow: var(--shadow-inset-cue);
  transform: scale(0.99);
}
.btn-empty {
  background: transparent !important;
  box-shadow: none !important;
  color: var(--gray5);
}
.btn-empty.brand,
.btn-text.brand {
  color: var(--brand);
}
.btn-empty.danger,
.btn-empty.error,
.btn-text.error,
.btn-text.danger {
  color: var(--red);
}
.btn-empty.white,
.btn-text.white {
  color: var(--gray1);
}
.btn-empty.fix-white,
.btn-text.fix-white {
  color: var(--fixed-white);
}
.btn-empty.success,
.btn-text.success {
  color: var(--teal);
}
.btn-empty.info,
.btn-text.info {
  color: var(--cyan);
}
.btn-empty.warning,
.btn-text.warning {
  color: var(--yellow);
}
.btn-empty[disabled],
.btn-text[disabled] {
  cursor: not-allowed !important;
  box-shadow: none;
  color: var(--gray);
}
.btn-empty:not([disabled]):hover,
.btn-text:not([disabled]):hover {
  border: 0;
  outline: 0;
  text-decoration: underline;
}
.btn-empty:focus:not([disabled]),
.btn-text:focus:not([disabled]),
.btn-empty:active:not([disabled]),
.btn-text:active:not([disabled]) {
  outline: 1px dotted;
}

.menu-dots::after {
  content: '\22EE';
}

.menu-dots:hover,
.menu-dots:focus,
.menu-dots:active {
  color: var(--fixed-black);
}
/* -------- */
/* DROPDOWN */
/* -------- */
.dropdown {
  position: relative;
  max-width: max-content;
}
.dropdown-button::after {
  content: '\22EE';
}

.dropdown-menu,
.context-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: max-content;
  background-color: var(--white);
  border-radius: var(--radius);
  z-index: 1010;
  box-shadow: var(--shadow-lg);
  will-change: transform;
}
.dropdown-menu {
  position: absolute;
}
.context-menu {
  position: fixed;
}

.dropdown-menu.bottom-right {
  right: 0;
}
.dropdown-menu.bottom-left {
  left: 0;
}
.dropdown-menu.top-left {
  left: 0;
  bottom: calc(var(--size) * 1.5 + 0.6rem);
}
.dropdown-menu.top-right {
  right: 0;
  bottom: calc(var(--size) * 1.5 + 0.6rem);
}
