.input {
  position: relative;
  border: 0;
  border-radius: var(--radius);
  text-overflow: ellipsis;
  padding: 0.25rem 0.5rem;
  color: var(--black);
  background-color: var(--gray1);
  box-shadow: var(--shadow-softer);
  border-bottom: 2px solid var(--gray);
  margin: 0 0.5rem;
  transition: all 0.15s ease-in-out;
}
select.input {
  padding-right: 1rem;
}
.input-empty {
  min-width: 0;
  border-bottom: 2px solid transparent;
}
.invalid {
  color: var(--red6) !important;
  background-color: var(--red1) !important;
  border-color: var(--red) !important;
}
.valid {
  animation-name: animate-valid;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
@keyframes animate-valid {
  0%,
  100% {
  }
  50% {
    color: var(--tea6);
    background-color: var(--teal1);
    border-color: var(--teal);
  }
}
.input::placeholder {
  color: var(--gray4);
  font-size: var(--smaller);
}
.input:focus {
  border: 0;
  outline: 0;
  background-color: var(--white);
  box-shadow: var(--shadow-lg);
  border-bottom: 2px solid var(--brand);
  transform: scale(1.025);
}
.input:focus + .input-label {
  color: var(--brand);
  transition: color 0.25s;
}
.input-wrap {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0.5rem;
}
.input-wrap-inline {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 0.5rem;
}
.input-label {
  /* text-transform: lowercase; */
  font-weight: var(--weight-600);
  font-size: var(--smaller);
  padding: 0.25rem 0.5rem;
  margin: 0;
}
.input-note {
  font-size: var(--smaller);
  color: var(--gray);
  padding: 0.25rem 0.5rem;
  font-style: oblique;
}
.input-tt:not(:last-child) {
  margin-right: 0.5rem;
}
.input-tt input[type='checkbox'],
.input-tt input[type='radio'] {
  height: 1px;
  width: 1px;
  visibility: hidden;
}
.input-tt label {
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  background: linear-gradient(to bottom, var(--white), var(--gray1));
  box-shadow: var(--shadow-sm);
  border-radius: 1rem;
}
[data-theme="dark"] .input-tt label {
  background: linear-gradient(to bottom, var(--gray1), var(--white));
}
.input-tt label::before {
  content: '\2715';
  margin-right: 0.25rem;
  color: var(--gray4);
}
.input-tt input:checked + label {
  color: var(--fixed-white);
  background: linear-gradient(to bottom, var(--brand4) 0%, var(--brand) 100%);
  box-shadow: var(--shadow-inset-cue);
}
[data-theme="dark"] .input-tt input:checked + label {
  background: linear-gradient(to bottom, var(--brand3) 0%, var(--brand) 100%);
}
.input-tt input:checked + label::before {
  content: '\2713';
  color: var(--fixed-white);
}
input[type='file'] {
  padding: 0;
}

.switch {
  --width: 3rem;
  --gaps: 2px;
  --notchDistance: calc(var(--gaps) * 2);
  --notchSize: calc(
    calc((var(--size) * var(--line-height)) - var(--notchDistance))
  );
  position: relative;
  padding-left: calc(var(--width) + var(--notchDistance));
}
.switch-input {
  height: 1px;
  width: 1px;
  visibility: hidden;
  position: absolute;
}
.switch-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  cursor: pointer;
}
.switch-label::before {
  content: '';
  position: absolute;
  left: calc((var(--width) * -1) - var(--notchDistance));
  width: var(--width);
  height: calc(var(--size) * var(--line-height));
  background: linear-gradient(to bottom, var(--gray4) 0%, var(--gray) 100%);
  box-shadow: var(--shadow-inset-cue);
  display: block;
  border-radius: 1rem;
}
[data-theme="dark"]  .switch-label::before {
  background: linear-gradient(to bottom, var(--gray3) 0%, var(--gray) 100%);
}
.switch-label::after {
  content: '';
  position: absolute;
  top: var(--gaps);
  left: calc(calc(var(--width) * -1) - var(--gaps));
  width: var(--notchSize);
  height: var(--notchSize);
  background: radial-gradient(circle, var(--white) 50%, var(--gray1) 100%);
  box-shadow: var(--shadow-sm);
  border-radius: 50%;
  transition: 250ms ease-in-out;
}
.switch-input:checked + .switch-label::before {
  background: linear-gradient(to bottom, var(--brand4) 0%, var(--brand) 100%);
}
[data-theme="dark"] .switch-input:checked + .switch-label::before {
  background: linear-gradient(to bottom, var(--brand3) 0%, var(--brand) 100%);
}

.switch-input:checked + .switch-label::after {
  transform: translateX(
    calc(var(--width) - var(--notchSize) - var(--notchDistance))
  );
}

.field {
  border: none;
  border-left: 5px solid var(--gray1);
  padding: 0 0.5rem;
  margin: 1rem 0;
}
.field legend {
  margin-left: -0.8rem;
  margin-bottom: 0.5rem;
}
