:root {
  --extreme-white: #fff;
  --lightness-white: 98%;
  --lightness1: 94%;
  --lightness2: 82%;
  --lightness: 58%;
  --lightness3: 40%;
  --lightness4: 24%;
  --lightness-black: 15%;
  --extreme-black: #000;

  --warm-fixed-white: hsl(30, 4%, 98%);
  --warm-white: hsl(30, 4%, var(--lightness-white));
  --warm-gray1: hsl(30, 4%, var(--lightness1));
  --warm-gray2: hsl(30, 4%, var(--lightness2));
  --warm-gray: hsl(30, 4%, var(--lightness));
  --warm-gray3: hsl(30, 4%, var(--lightness3));
  --warm-gray4: hsl(30, 4%, var(--lightness4));
  --warm-black: hsl(30, 4%, var(--lightness-black));
  --warm-fixed-black: hsl(30, 4%, 12%);

  --cold-fixed-white: hsl(204, 10%, 98%);
  --cold-white: hsl(204, 10%, var(--lightness-white));
  --cold-gray1: hsl(204, 10%, var(--lightness1));
  --cold-gray2: hsl(204, 10%, var(--lightness2));
  --cold-gray: hsl(204, 10%, var(--lightness));
  --cold-gray3: hsl(204, 10%, var(--lightness3));
  --cold-gray4: hsl(204, 10%, var(--lightness4));
  --cold-black: hsl(204, 10%, var(--lightness-black));
  --cold-fixed-black: hsl(204, 10%, 12%);

  --blue-white: hsl(204, 84%, var(--lightness-white));
  --blue1: hsl(204, 84%, var(--lightness1));
  --blue2: hsl(204, 84%, var(--lightness2));
  --blue: hsl(204, 84%, var(--lightness));
  --blue3: hsl(204, 84%, var(--lightness3));
  --blue4: hsl(204, 84%, var(--lightness4));
  --blue-black: hsl(204, 84%, var(--lightness-black));

  --cyan-white: hsl(188, 78%, var(--lightness-white));
  --cyan1: hsl(188, 78%, var(--lightness1));
  --cyan2: hsl(188, 78%, var(--lightness2));
  --cyan: hsl(188, 78%, var(--lightness));
  --cyan3: hsl(188, 78%, var(--lightness3));
  --cyan4: hsl(188, 78%, var(--lightness4));
  --cyan-black: hsl(188, 78%, var(--lightness-black));

  --teal-white: hsl(162, 72%, var(--lightness-white));
  --teal1: hsl(162, 72%, var(--lightness1));
  --teal2: hsl(162, 72%, var(--lightness2));
  --teal: hsl(162, 72%, var(--lightness));
  --teal3: hsl(162, 72%, var(--lightness3));
  --teal4: hsl(162, 72%, var(--lightness4));
  --teal-black: hsl(162, 72%, var(--lightness-black));

  --yellow-white: hsl(40, 89%, var(--lightness-white));
  --yellow1: hsl(40, 89%, var(--lightness1));
  --yellow2: hsl(40, 89%, var(--lightness2));
  --yellow: hsl(40, 89%, var(--lightness));
  --yellow3: hsl(40, 89%, var(--lightness3));
  --yellow4: hsl(40, 89%, var(--lightness4));
  --yellow-black: hsl(40, 89%, var(--lightness-black));

  --orange-white: hsl(20, 88%, var(--lightness-white));
  --orange1: hsl(20, 88%, var(--lightness1));
  --orange2: hsl(20, 88%, var(--lightness2));
  --orange: hsl(20, 88%, var(--lightness));
  --orange3: hsl(20, 88%, var(--lightness3));
  --orange4: hsl(20, 88%, var(--lightness4));
  --orange-black: hsl(20, 88%, var(--lightness-black));

  --red-white: hsl(4, 76%, var(--lightness-white));
  --red1: hsl(4, 76%, var(--lightness1));
  --red2: hsl(4, 76%, var(--lightness2));
  --red: hsl(4, 76%, var(--lightness));
  --red3: hsl(4, 76%, var(--lightness3));
  --red4: hsl(4, 76%, var(--lightness4));
  --red-black: hsl(4, 76%, var(--lightness-black));

  --indigo: hsl(263, 90%, 51%);
  --purple: hsl(261, 51%, 51%);

  --brand-white: var(--blue-white);
  --brand1: var(--blue1);
  --brand2: var(--blue2);
  --brand: var(--blue);
  --brand3: var(--blue3);
  --brand4: var(--blue4);
  --brand-black: var(--blue-black);

  --fixed-white: var(--warm-fixed-white);
  --white: var(--warm-white);
  --gray1: var(--warm-gray1);
  --gray2: var(--warm-gray2);
  --gray: var(--warm-gray);
  --gray3: var(--warm-gray3);
  --gray4: var(--warm-gray4);
  --black: var(--warm-black);
  --fixed-black: var(--warm-fixed-black);

  --backdrop: hsla(0, 0%, 0%, 0.75);
  --backdrop-soft: hsla(0, 0%, 0%, 0.5);
  --backdrop-softer: hsla(0, 0%, 0%, 0.25);

  --radius: 4px;
  --spacer: 0.25rem;
  --line-height: 1.5;

  --font: Dosis, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Fira Sans', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --weight-lite: 300;
  --weight-normal: 400;
  --weight-bold: 500;
  --weight-bolder: bold;

  --small: 0.75rem;

  --width-mobile: 300px;

  --box-shadow-sm: 0px 1px 3px -1px var(--backdrop);
  --box-shadow: 0px 2px 4px 0px var(--backdrop);
  --box-shadow-lg: 0px 4px 8px -2px var(--backdrop-soft);
  --box-shadow-inset-cue: inset 0px 1px 3px -1px var(--backdrop-soft);
}

@media (prefers-color-scheme: dark) {
  :root {
    --extreme-white: #000;
    --lightness-black: 98%;
    --lightness4: 96%;
    /* --lightness3: 86%; */
    /* --lightness: 56%; */
    /* --lightness2: 42%; */
    --lightness1: 24%;
    --lightness-white: 15%;
    --extreme-black: #fff;
  }
}

.theme-warm {
  --fixed-white: var(--warm-fixed-white);
  --white: var(--warm-white);
  --gray1: var(--warm-gray1);
  --gray2: var(--warm-gray2);
  --gray: var(--warm-gray);
  --gray3: var(--warm-gray3);
  --gray4: var(--warm-gray4);
  --black: var(--warm-black);
  --fixed-black: var(--warm-fixed-black);
}
.theme-cold {
  --fixed-white: var(--cold-fixed-white);
  --white: var(--cold-white);
  --gray1: var(--cold-gray1);
  --gray2: var(--cold-gray2);
  --gray: var(--cold-gray);
  --gray3: var(--cold-gray3);
  --gray4: var(--cold-gray4);
  --black: var(--cold-black);
  --fixed-black: var(--cold-fixed-black);
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: left;
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[tabindex='-1']:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.8rem;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: var(--font-mono);
  font-size: 1rem;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

option {
  -moz-padding-start: 0;
}

input:required,
select:required,
textarea:required {
  box-shadow: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

legend {
  display: block;
  max-width: 100%;
  padding: 0;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='number']:disabled,
[type='number']:disabled {
  -moz-appearance: textfield;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

/* ------ */
/* CUSTOM */
/* ------ */

html {
  background-color: var(--extreme-white);
  /* height: 100%; */
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  display: inherit;
  --size: 16px;
  --gap: 1rem;
  font-size: var(--size);
  font-family: var(--font);
  color: var(--black);
  font-weight: var(--weight-normal);
  line-height: var(--line-height);
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}
.main {
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: var(--weight-normal);
}

h1 {
  font-size: calc(var(--size) * 2.5);
}
h2 {
  font-size: calc(var(--size) * 2);
}
h3 {
  font-size: calc(var(--size) * 1.5);
}
h4 {
  font-size: calc(var(--size) * 1.25);
}
h5 {
  font-size: calc(var(--size) * 1);
}
h6 {
  font-size: calc(var(--size) * 0.75);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 1.2rem !important;
  /* background-color: transparent; */
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" width="512" height="512"><path d="M121.3 34.6c-1.6-1.6-4.2-1.6-5.8 0l-51 51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8 0-1.6 1.6-1.6 4.2 0 5.8l53.9 53.9c.8.8 1.8 1.2 2.9 1.2 1 0 2.1-.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2.1-5.8z" /></svg>');
  background-repeat: no-repeat;
  background-position: right 5px top 50%;
  background-size: 0.5rem;
}

select,
input,
textarea {
  backface-visibility: hidden;
}

select[disabled],
select:focus[disabled],
select:active[disabled],
textarea[disabled],
textarea:focus[disabled],
textarea:active[disabled],
input[disabled],
input:focus[disabled],
input:active[disabled] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  background-image: none !important;
}

/* @-moz-document url-prefix() { */
/* select { */
/* font-family: inherit; */
/* font-weight: var(--weight-lite); */
/* border-radius: var(--radius); */
/* border: 1px solid var(--gray2); */
/* background-color: var(--white); */
/* padding: 0 !important; */
/* width: 100%; */
/* color: currentColor; */
/* } */
/* } */

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: var(--gray4);
  font-weight: var(--weight-normal);
  opacity: 1;
}

input[type='date']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type='date']::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

/*--------------------------------------*/
/* #SCROLLBAR (only chrome)*/
/*--------------------------------------*/

::-webkit-scrollbar {
  width: calc(var(--size) / 2);
}

::-webkit-scrollbar:horizontal {
  height: calc(var(--size) / 2);
}

::-webkit-scrollbar-thumb {
  background: var(--gray4);
  border-radius: calc(var(--size) / 4);
}

/* img, */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
/* .icon-label {
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
}
.icon {
  height: 1rem;
  width: auto;
} */
.hr1 {
  border: 0;
  height: 1px;
  background: var(--gray4);
  background-image: linear-gradient(
    to right,
    var(--gray1),
    var(--gray3),
    var(--gray1)
  );
}

.table {
  width: 100%;
}
.table thead {
  border-bottom: 3px solid var(--gray1);
}
.table tr {
  border-bottom: 1px solid var(--gray1);
}
.table-stripped tr:nth-child(even) {
  background-color: var(--gray1);
}
.table td,
.table th {
  padding: 0.25rem;
}
.dt-headings {
  cursor: pointer;
}
.dt-input {
  backface-visibility: hidden;
  border: 1px solid transparent;
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: var(--black);
}
.handle {
  max-width: min-content;
}

.field {
  border: none;
  border-left: 5px solid var(--gray1);
  padding: 0 0.5rem;
  margin: 1rem 0;
}
.field legend {
  margin-left: -0.8rem;
  margin-bottom: 0.5rem;
}

/* .profile-rounded-big {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 0.25rem dashed var(--blue-pale);
  flex-shrink: 0;
} */
/* don't mark it as list if it ain't a list */
.list-unstyled {
  list-style: none;
  margin-block-start: 0;
  margin-inline-start: 0;
  padding: 0;
  margin: 0;
}
.crop {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.crop-sm {
  width: 3rem;
  height: 3rem;
}
.crop-md {
  width: 6rem;
  height: 6rem;
}
.crop-lg {
  width: 12rem;
  height: 12rem;
}
.profile-pic {
  display: inline-block;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}
.profile-placeholder {
  font-size: 2rem;
  margin: 0.5rem;
}
.pop-in {
  animation: animate-pop-in ease-in 200ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in {
  animation: animate-fade-in ease-in 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: animate-fade-out ease-out 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animate-pop-in {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }

  70% {
    opacity: 1;
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animate-fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes animate-fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.drop-from-above {
  animation: animate-drop-from-above ease-in 200ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.pull-above {
  animation: animate-pull-above ease-out 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animate-pull-above {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
  }
}

@keyframes animate-drop-from-above {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(0);
  }
}

.drop-short {
  animation: animate-drop-short linear 200ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.pull-short {
  animation: animate-pull-short ease-out 250ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animate-pull-short {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20vh);
  }
}

@keyframes animate-drop-short {
  0% {
    transform: translateY(-20vh);
  }

  100% {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 520px) {
  /* #root {
    margin: 0 auto;
  } */

  .wrap-mobile {
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 916px) {
}
@media only screen and (min-width: 1160px) {
}
@media only screen and (min-width: 1601px) {
}
@media only screen and (min-width: 2128px) {
  html,
  body {
    --size: 20px;
  }
}

@media only screen and (min-width: 2656px) {
  html,
  body {
    --size: 24px;
  }
}

@media only screen and (min-width: 3184px) {
  html,
  body {
    --size: 28px;
  }
}

@media only screen and (min-width: 3712px) {
  html,
  body {
    --size: 32px;
  }
}
