.navbar {
  position: sticky;
  top: 0;
  background: linear-gradient(to bottom, var(--brand) 0%, var(--brand3) 100%);
  font-size: inherit;
  z-index: 1000;
  height: min-content;
  max-width: 100vw;
  padding: calc(var(--size) / 1.5) var(--size);
  box-shadow: var(--box-shadow);
}
.navlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.nav-item {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-item .btn-empty {
  padding: 0 0.5rem;
}
.nav-item svg {
  height: 1.5rem;
}
/*--------------------------------------*/
/* #TABS */
/*--------------------------------------*/
.tabs {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: visible;
  border-bottom: 1px solid var(--gray);
}

.tab-btn {
  color: inherit;
  background-color: transparent;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  flex: 0 0 auto;
  font-weight: var(--weight-norm);
}

.tab-btn:hover,
.tab-btn:focus,
.tab-btn:active {
  outline: 0;
  border-bottom: 3px solid var(--brand);
}
.tab-btn.active {
  outline: 0;
  border-bottom: 3px solid var(--brand);
}

.tab-btn.active {
  color: var(--brand);
}

.steppers {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 1rem;
  z-index: 1;
}
.steppers-vertical {
  flex-direction: column;
  /* justify-content: flex-start; */
  margin-right: var(--gap);
}
.steppers::before {
  content: "";
  position: absolute;
  top: 50%;
  border: 0;
  height: 2px;
  background: var(--brand);
  background-image: linear-gradient(
    to right,
    var(--white),
    var(--brand),
    var(--white)
  );
  width: 100%;
}
.steppers-vertical::before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  background-image: linear-gradient(
    to bottom,
    var(--white),
    var(--brand),
    var(--white)
  );
}
.step-btn {
  /* font-family: var(--font-mono); */
  font-weight: var(--weight-bold);
  text-transform: lowercase;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem;
  margin: 0;
  border: 1px solid var(--brand);
  border-radius: 1rem;
  /* border-style: dotted; */
  color: var(--brand);
  background-color: var(--white);
  cursor: pointer;
  z-index: 2;
}
.step-btn:disabled,
.step-btn[disabled] {
  border: 1px solid var(--brand);
  color: var(--brand);
  cursor: not-allowed;
}
.step-active {
  border: 1px solid transparent;
  color: var(--white);
  background-color: var(--brand);
}
