:root {
  --black: hsl(15, 1%, 18%);
  --color: var(--black);
  --gray5: hsl(15, 1%, 32%);
  --dark: var(--gray5);
  --gray4: hsl(15, 1%, 47%);
  --gray3: hsl(15, 1%, 68%);
  --gray2: hsl(15, 1%, 83%);
  --gray1: hsl(15, 1%, 98%);
  --light: var(--gray1);
  --cold: hsl(204, 15%, 94%);
  --cold-dark: hsl(204, 15%, 90%);
  --lightsmoke: hsl(204, 15%, 98%);
  --white: #fff;

  --blue: hsl(204, 100%, 37%);
  --blue-pale: hsl(204, 100%, 95%);
  --blue-light: hsl(204, 100%, 44%);
  --blue-dark: hsl(204, 100%, 19%);
  --red: hsl(1, 76%, 54%);
  --red-pale: hsl(1, 56%, 96%);
  --red-light: hsl(1, 76%, 64%);
  --red-dark: hsl(1, 76%, 44%);
  --green: hsl(142, 76%, 44%);
  --yellow: hsl(40, 96%, 64%);
  --yellow-pale: hsl(40, 56%, 96%);
  --yellow-light: hsl(40, 96%, 74%);
  --yellow-dark: hsl(40, 96%, 54%);
  --orange: hsl(15, 88%, 65%);
  --orange-pale: hsl(15, 88%, 96%);
  --orange-light: hsl(15, 88%, 72%);
  --orange-dark: hsl(15, 88%, 58%);
  --indigo: hsl(263, 90%, 51%);
  --purple: hsl(261, 51%, 51%);
  --cyan: hsl(188, 78%, 41%);
  --cyan-pale: hsl(188, 38%, 94%);
  --cyan-light: hsl(188, 78%, 51%);
  --cyan-dark: hsl(188, 78%, 31%);
  --teal: hsl(162, 73%, 46%);
  --teal-pale: hsl(162, 33%, 92%);
  --teal-light: hsl(162, 73%, 56%);
  --teal-dark: hsl(162, 73%, 36%);

  --brand: var(--blue);
  --brand-pale: var(--blue-pale);
  --brand-light: var(--blue-light);
  --brand-dark: var(--blue-dark);

  --backdrop: hsla(15, 1%, 18%, 0.5);

  --weight-light: 300;
  --weight-normal: 400;
  --weight-bold: 500;

  --radius: 4px;
  --spacer: 0.25rem;

  --font: Dosis, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Fira Sans',
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  --width-mobile: 300px;
  --box-shadow-sm: 0px 1px 3px 0px var(--backdrop);
  --box-shadow: 0px 2px 4px 0px var(--backdrop);
  --box-shadow-lg: 0px 4px 8px -2px var(--backdrop);
}