.steppers {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 1rem;
  z-index: 1;
}
.steppers-vertical {
  flex-direction: column;
  /* justify-content: flex-start; */
  margin-right: var(--gap);
}
.steppers::before {
  content: '';
  position: absolute;
  top: 50%;
  border: 0;
  height: 2px;
  background: var(--brand);
  background-image: linear-gradient(to right, var(--brand-pale), var(--brand), var(--brand-pale));
  width: 100%;
}
.steppers-vertical::before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  background-image: linear-gradient(to bottom, var(--brand-pale), var(--brand), var(--brand-pale));
}
.step-btn {
  /* font-family: var(--font-mono); */
  font-weight: var(--weight-bold);
  text-transform: lowercase;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem;
  margin: 0;
  border: 1px solid var(--brand);
  border-radius: 1rem;
  /* border-style: dotted; */
  color: var(--brand);
  background-color: var(--light);
  cursor: pointer;
  z-index: 2;
}
.step-btn:disabled,
.step-btn[disabled] {
  border: 1px solid var(--brand-light);
  color: var(--brand-light);
  cursor: not-allowed;
}
.step-active {
  border: 1px solid transparent;
  color: var(--white);
  background-color: var(--brand);
}
