#nei-grid {
  display: grid;
  grid-template-areas:
    'nodes' 'info';
  grid-template-rows: min-content 1fr;
  grid-gap: var(--gap);
  padding: var(--gap);
  min-height: 100%;
}
.nodes-tree {
  grid-area: 'nodes';
  height: min-content;
  /* overflow: auto; */
}
.collapse-body {
  position: absolute;
  left: var(--gap);
  right: var(--gap);
  margin: 0 auto;
}
.select-info {
  grid-area: 'info';
}
@media only screen and (min-width: 960px) {
  #nei-grid {
    grid-template-columns: 25% auto;
    grid-template-rows: 1fr;
  }
  .collapse-body {
    position: relative;
    left: initial;
    right: initial;
    margin: initial;
  }
  [data-toggle="nodes-tree"] {
    visibility: hidden;
    display: none;
  }
}
/* .nodes-tree, */
/* .select-info {
  overflow-y: auto;
} */
.node-item,
.element-item {
  position: relative;
  margin-bottom: 0.25rem;
}
.node-item input[type='checkbox'],
.node-item input[type='radio'],
.element-item input[type='checkbox'],
.element-item input[type='radio'] {
  visibility: hidden;
  position: absolute;
  left: 0;
}
.node-item label,
.element-item label {
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  color: var(--black);
}
.node-item input:checked + label,
.element-item input:checked + label {
  color: var(--brand);
  font-weight: var(--weight-600);
  background-color: var(--transparent-highlight);
}
.element-item input:checked + label {
  background-color: var(--cyan);
}
