.tree ul {
  list-style: none;
}

.tree ul li::before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../../public/images/node_svgo.svg');
}

.node-icon * {
  stroke: var(--black);
}
