h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: var(--weight-normal);
}

h1 {
  font-size: calc(var(--size) * 2.5);
}
h2 {
  font-size: calc(var(--size) * 2);
}
h3 {
  font-size: calc(var(--size) * 1.5);
}
h4 {
  font-size: calc(var(--size) * 1.25);
}
h5 {
  font-size: calc(var(--size) * 1);
}
h6 {
  font-size: calc(var(--size) * 0.75);
}
.ul,
.ol {
  padding-left: 1.25rem;
}
.unlist {
  list-style: none;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-left: 0;
  padding-left: 0;
}
.dl dt {
  font-size: var(--small);
  text-transform: uppercase;
  color: var(--gray4);
  margin-top: 0.5rem;
}
.dl dd {
  margin-bottom: 0;
}
